$title-color:#31363a;
$title-color-underline:#2b2f32;
$list-hover-color: #f5f5f5;
$create-btn-color: #01579d;
$create-author:#0a4438;
$input-field-border-color:#959595;
$footer-background-color:#291916;
$extra-small-device-size:576px;
$medium-device-size:768px;
$large-device-size:992px;

