$extra-small-device-size:576px;
.welcome-section{
  h1{
    font-weight: 700;
    font-size: 2.7em;
  }
  img{
    width: 100%;
    height: auto;
  }
  .img-credit{
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
    font-weight: 400;
    font-size: 1.2em;
  }
}
@media only screen and (max-width:$extra-small-device-size) {
  .welcome-section{
    .img-credit{
      font-size: 0.7em;
    }
  }
}